In [1]:
# Installing required packages
!pip install pyspark
!pip install findspark
!pip install pandas

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=53f0264a0e5b952f232be3112382a0417def30ad67065d8685b3a4249fbf85a5
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import findspark
findspark.init()

In [3]:
import pandas as pd
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [4]:
# Creating a spark context class
sc = SparkContext()

# Creating a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [5]:
spark

Loading data into a Pandas Dataframe then into a Spark DataFrame

In [41]:
all_seasons = pd.read_csv('all_seasons.csv')
sdf = spark.createDataFrame(all_seasons)

In [7]:
sdf.printSchema()

root
 |-- Unnamed: 0: long (nullable = true)
 |-- player_name: string (nullable = true)
 |-- team_abbreviation: string (nullable = true)
 |-- age: double (nullable = true)
 |-- player_height: double (nullable = true)
 |-- player_weight: double (nullable = true)
 |-- college: string (nullable = true)
 |-- country: string (nullable = true)
 |-- draft_year: string (nullable = true)
 |-- draft_round: string (nullable = true)
 |-- draft_number: string (nullable = true)
 |-- gp: long (nullable = true)
 |-- pts: double (nullable = true)
 |-- reb: double (nullable = true)
 |-- ast: double (nullable = true)
 |-- net_rating: double (nullable = true)
 |-- oreb_pct: double (nullable = true)
 |-- dreb_pct: double (nullable = true)
 |-- usg_pct: double (nullable = true)
 |-- ts_pct: double (nullable = true)
 |-- ast_pct: double (nullable = true)
 |-- season: string (nullable = true)

In [42]:
sdf.show(10)

+----------+-----------------+-----------------+----+-------------+-------------+--------------------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+-------+-------+
|Unnamed: 0|      player_name|team_abbreviation| age|player_height|player_weight|             college|country|draft_year|draft_round|draft_number| gp| pts| reb|ast|net_rating|oreb_pct|          dreb_pct|           usg_pct|            ts_pct|ast_pct| season|
+----------+-----------------+-----------------+----+-------------+-------------+--------------------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+-------+-------+
|         0|    Dennis Rodman|              CHI|36.0|       198.12|     99.79024|Southeastern Okla...|    USA|      1986|          2|          27| 55| 5.7|16.1|3.1|      16.1|   0.186|0.3229999999999999|               0.1|             0.479|  0.113|1996-97|
|         1|Dwayne Schintzius|              LAC|28.0|        215.9|    117.93392|             Florida|    USA|      1990|          1|          24| 15| 2.3| 1.5|0.3|      12.3|   0.078|             0.151|             0.175|              0.43|  0.048|1996-97|
|         2|     Earl Cureton|              TOR|39.0|       205.74|     95.25432|       Detroit Mercy|    USA|      1979|          3|          58|  9| 0.8| 1.0|0.4|      -2.1|   0.105|             0.102|             0.103|             0.376|  0.148|1996-97|
|         3|      Ed O'Bannon|              DAL|24.0|        203.2|   100.697424|                UCLA|    USA|      1995|          1|           9| 64| 3.7| 2.3|0.6|      -8.7|    0.06|             0.149|0.1669999999999999|0.3989999999999999|  0.077|1996-97|
|         4|      Ed Pinckney|              MIA|34.0|       205.74|    108.86208|           Villanova|    USA|      1985|          1|          10| 27| 2.4| 2.4|0.2|     -11.2|   0.109|             0.179|             0.127|             0.611|   0.04|1996-97|
|         5|    Eddie Johnson|              HOU|38.0|       200.66|     97.52228|            Illinois|    USA|      1981|          2|          29| 52| 8.2| 2.7|1.0|       4.1|   0.034|             0.126|              0.22|             0.541|  0.102|1996-97|
|         6|      Eddie Jones|              LAL|25.0|       198.12|     86.18248|              Temple|    USA|      1994|          1|          10| 80|17.2| 4.1|3.4|       4.1|   0.035|             0.091|             0.209|0.5589999999999999|  0.149|1996-97|
|         7|   Elden Campbell|              LAL|28.0|       213.36|      113.398|             Clemson|    USA|      1990|          1|          27| 77|14.9| 8.0|1.6|       3.3|   0.095|             0.183|             0.222|              0.52|  0.087|1996-97|
|         8|Eldridge Recasner|              ATL|29.0|       193.04|     86.18248|          Washington|    USA|      1992|  Undrafted|   Undrafted| 71| 5.7| 1.6|1.3|      -0.3|   0.036|             0.076|             0.172|             0.539|  0.141|1996-97|
|         9|     Elliot Perry|              MIL|28.0|       182.88|     72.57472|             Memphis|    USA|      1991|          2|          37| 82| 6.9| 1.5|3.0|      -1.2|   0.018|             0.081|             0.177|             0.557|  0.262|1996-97|
+----------+-----------------+-----------------+----+-------------+-------------+--------------------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+-------+-------+
only showing top 10 rows

#### Remove all undrafted players

In [43]:
sdf1 = sdf.filter((sdf.draft_round != 'Undrafted') | (sdf.draft_number != 'Undrafted'))
sdf1.show(10)

+----------+-----------------+-----------------+----+-------------+-------------+--------------------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+-------+-------+
|Unnamed: 0|      player_name|team_abbreviation| age|player_height|player_weight|             college|country|draft_year|draft_round|draft_number| gp| pts| reb|ast|net_rating|oreb_pct|          dreb_pct|           usg_pct|            ts_pct|ast_pct| season|
+----------+-----------------+-----------------+----+-------------+-------------+--------------------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+-------+-------+
|         0|    Dennis Rodman|              CHI|36.0|       198.12|     99.79024|Southeastern Okla...|    USA|      1986|          2|          27| 55| 5.7|16.1|3.1|      16.1|   0.186|0.3229999999999999|               0.1|             0.479|  0.113|1996-97|
|         1|Dwayne Schintzius|              LAC|28.0|        215.9|    117.93392|             Florida|    USA|      1990|          1|          24| 15| 2.3| 1.5|0.3|      12.3|   0.078|             0.151|             0.175|              0.43|  0.048|1996-97|
|         2|     Earl Cureton|              TOR|39.0|       205.74|     95.25432|       Detroit Mercy|    USA|      1979|          3|          58|  9| 0.8| 1.0|0.4|      -2.1|   0.105|             0.102|             0.103|             0.376|  0.148|1996-97|
|         3|      Ed O'Bannon|              DAL|24.0|        203.2|   100.697424|                UCLA|    USA|      1995|          1|           9| 64| 3.7| 2.3|0.6|      -8.7|    0.06|             0.149|0.1669999999999999|0.3989999999999999|  0.077|1996-97|
|         4|      Ed Pinckney|              MIA|34.0|       205.74|    108.86208|           Villanova|    USA|      1985|          1|          10| 27| 2.4| 2.4|0.2|     -11.2|   0.109|             0.179|             0.127|             0.611|   0.04|1996-97|
|         5|    Eddie Johnson|              HOU|38.0|       200.66|     97.52228|            Illinois|    USA|      1981|          2|          29| 52| 8.2| 2.7|1.0|       4.1|   0.034|             0.126|              0.22|             0.541|  0.102|1996-97|
|         6|      Eddie Jones|              LAL|25.0|       198.12|     86.18248|              Temple|    USA|      1994|          1|          10| 80|17.2| 4.1|3.4|       4.1|   0.035|             0.091|             0.209|0.5589999999999999|  0.149|1996-97|
|         7|   Elden Campbell|              LAL|28.0|       213.36|      113.398|             Clemson|    USA|      1990|          1|          27| 77|14.9| 8.0|1.6|       3.3|   0.095|             0.183|             0.222|              0.52|  0.087|1996-97|
|         9|     Elliot Perry|              MIL|28.0|       182.88|     72.57472|             Memphis|    USA|      1991|          2|          37| 82| 6.9| 1.5|3.0|      -1.2|   0.018|             0.081|             0.177|             0.557|  0.262|1996-97|
|        10|    Elmer Bennett|              DEN|27.0|       182.88|     77.11064|          Notre Dame|    USA|      1992|          2|          38|  9| 2.4| 0.4|1.2|      -7.4|     0.0|             0.053|             0.187|              0.47|  0.216|1996-97|
+----------+-----------------+-----------------+----+-------------+-------------+--------------------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+-------+-------+
only showing top 10 rows

#### Show all players named David

In [44]:
sdf1.filter(sdf.player_name.like('David%')).show(10)

+----------+--------------+-----------------+----+-------------+-------------+----------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+------------------+-------+
|Unnamed: 0|   player_name|team_abbreviation| age|player_height|player_weight|   college|country|draft_year|draft_round|draft_number| gp| pts| reb|ast|net_rating|oreb_pct|          dreb_pct|           usg_pct|            ts_pct|           ast_pct| season|
+----------+--------------+-----------------+----+-------------+-------------+----------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+------------------+-------+
|       186|David Robinson|              SAS|31.0|        215.9|    106.59412|      Navy|    USA|      1987|          1|           1|  6|17.7| 8.5|1.3|       9.6|   0.161|             0.237|0.3339999999999999|0.5589999999999999|             0.111|1996-97|
|       187|  David Vaughn|              ORL|24.0|       205.74|    108.86208|   Memphis|    USA|      1995|          1|          25| 35| 2.3| 2.7|0.2|      -7.5|   0.128|             0.216|             0.172|             0.475|             0.045|1996-97|
|       189| David Wingate|              SEA|33.0|       195.58|     83.91452|Georgetown|    USA|      1986|          2|          44| 65| 3.6| 1.1|1.2|       2.8|   0.031|             0.069|             0.134|             0.509|0.1369999999999999|1996-97|
|       721|David Robinson|              SAS|32.0|        215.9|      113.398|      Navy|    USA|      1987|          1|           1| 73|21.6|10.6|2.7|       7.7|   0.121|             0.231|             0.297|             0.581|             0.159|1997-98|
|       723| David Wingate|              SEA|34.0|       195.58|     83.91452|Georgetown|    USA|      1986|          2|          44| 58| 2.6| 1.4|0.6|      -0.7|    0.04|0.1169999999999999|             0.156|             0.494|             0.113|1997-98|
|       728|  David Vaughn|              NJN|25.0|       205.74|    108.86208|   Memphis|    USA|      1995|          1|          25| 40| 4.1| 3.8|0.5|     -11.4|   0.111|             0.215|             0.184|              0.48|             0.069|1997-98|
|       942|David Robinson|              SAS|33.0|        215.9|      113.398|      Navy|    USA|      1987|          1|           1| 49|15.8|10.0|2.1|      11.2|   0.113|             0.235|              0.24|             0.564|              0.12|1998-99|
|       943|  David Vaughn|              NJN|26.0|       205.74|    108.86208|   Memphis|    USA|      1995|          1|          25| 10| 3.4| 3.4|0.1|       3.3|   0.155|             0.196|             0.174|             0.599|             0.015|1998-99|
|      1060| David Wingate|              NYK|35.0|       195.58|    84.821704|Georgetown|    USA|      1986|          2|          44| 20| 0.7| 0.4|0.3|      14.4|   0.038|             0.072|              0.11|0.4379999999999999|             0.086|1998-99|
|      1349| David Wingate|              NYK|36.0|       195.58|     83.91452|Georgetown|    USA|      1986|          2|          44|  7| 0.3| 0.3|0.4|     -29.0|   0.033|             0.031|             0.145|             0.111|             0.188|1999-00|
+----------+--------------+-----------------+----+-------------+-------------+----------+-------+----------+-----------+------------+---+----+----+---+----------+--------+------------------+------------------+------------------+------------------+-------+
only showing top 10 rows

#### Show the tallest 3 players, displaying their height in meters

In [51]:
sdf2 = sdf1.withColumn('player_height_meters', sdf1['player_height']/100).sort("player_height_meters", ascending=False)
sdf2.select("player_name","player_height_meters").distinct().show(3)

+--------------+--------------------+
|   player_name|player_height_meters|
+--------------+--------------------+
|Walter McCarty|              2.0828|
| Devean George|               2.032|
|  Tim Hardaway|              1.8288|
+--------------+--------------------+
only showing top 3 rows

####  Display the information of players that come from Mexico

In [33]:
sdf.filter(sdf.country == 'Mexico').show(10)

+----------+--------------+-----------------+----+-------------+-------------+--------+-------+----------+-----------+------------+---+---+---+---+----------+--------+--------+-------+------------------+------------------+-------+
|Unnamed: 0|   player_name|team_abbreviation| age|player_height|player_weight| college|country|draft_year|draft_round|draft_number| gp|pts|reb|ast|net_rating|oreb_pct|dreb_pct|usg_pct|            ts_pct|           ast_pct| season|
+----------+--------------+-----------------+----+-------------+-------------+--------+-------+----------+-----------+------------+---+---+---+---+----------+--------+--------+-------+------------------+------------------+-------+
|      1765|Eduardo Najera|              DAL|24.0|        203.2|   106.140528|Oklahoma| Mexico|      2000|          2|          38| 40|3.3|2.4|0.7|      -4.9|   0.107|   0.142|  0.146|             0.522|             0.093|2000-01|
|      2624|Eduardo Najera|              DAL|25.0|        203.2|   106.140528|Oklahoma| Mexico|      2000|          2|          38| 62|6.5|5.5|0.6|      12.1|   0.123|   0.159|  0.132|0.5479999999999999|             0.039|2001-02|
|      2825|Eduardo Najera|              DAL|26.0|        203.2|    106.59412|Oklahoma| Mexico|      2000|          2|          38| 48|6.7|4.6|1.0|      13.9|   0.092|    0.13|  0.121|              0.59|              0.06|2002-03|
|      3455|Eduardo Najera|              DAL|27.0|        203.2|    106.59412|Oklahoma| Mexico|      2000|          2|          38| 58|3.0|2.7|0.4|       5.4|   0.095|   0.135|  0.129|             0.483|             0.051|2003-04|
|      3942|Eduardo Najera|              DEN|28.0|        203.2|    106.59412|Oklahoma| Mexico|      2000|          2|          38| 68|5.2|3.6|1.0|       2.8|   0.092|    0.14|  0.158|             0.489|             0.084|2004-05|
|      4419|Eduardo Najera|              DEN|29.0|        203.2|     99.79024|Oklahoma| Mexico|      2000|          2|          38| 64|5.4|5.1|0.8|       0.7|   0.099|   0.161|  0.123|             0.494|             0.054|2005-06|
|      4433|Eduardo Najera|              DEN|30.0|        203.2|    106.59412|Oklahoma| Mexico|      2000|          2|          38| 75|6.6|4.1|0.9|       0.9|   0.091|   0.124|   0.12|             0.609|0.0559999999999999|2006-07|
|      4900|Eduardo Najera|              DEN|31.0|        203.2|    106.59412|Oklahoma| Mexico|      2000|          2|          38| 78|5.9|4.3|1.2|       9.7|   0.074|   0.143|  0.119|              0.57|             0.079|2007-08|
|      5350|Eduardo Najera|              NJN|32.0|        203.2|    106.59412|Oklahoma| Mexico|      2000|          2|          38| 27|2.9|2.5|0.7|     -15.0|   0.059|    0.19|  0.152|             0.472|              0.11|2008-09|
|      5930|Eduardo Najera|              DAL|33.0|        203.2|    106.59412|Oklahoma| Mexico|      2000|          2|          38| 46|3.4|2.5|0.6|      -3.1|   0.054|   0.143|  0.121|             0.501|             0.061|2009-10|
+----------+--------------+-----------------+----+-------------+-------------+--------+-------+----------+-----------+------------+---+---+---+---+----------+--------+--------+-------+------------------+------------------+-------+
only showing top 10 rows

#### Calculate the BMI of each player, insert into the collection as a new column, then display the players according to their BMI descendingly

In [57]:
sdf3 = sdf2.withColumn('bmi', sdf2['player_weight']/sdf2['player_height_meters']**2)
sdf3.select("player_name","bmi").distinct().sort("bmi", ascending=False).show(5)

+----------------+-----------------+
|     player_name|              bmi|
+----------------+-----------------+
|   Oliver Miller|34.82661591142417|
|   Oliver Miller| 33.7550277295342|
|   Oliver Miller|33.21923363858921|
|Shaquille O'Neal|33.08560028884764|
| Zion Williamson|32.81913177896047|
+----------------+-----------------+
only showing top 5 rows

#### Display the number of players from each country, showing the 5 least present countries

In [58]:
country_counts = sdf1.groupby(['country'])\
.agg({"country": "count"})\
.sort("count(country)", ascending=True)\
.show(5)

+-----------+--------------+
|    country|count(country)|
+-----------+--------------+
|Puerto Rico|             1|
|     Angola|             1|
|      Ghana|             1|
|      Gabon|             1|
|     Guinea|             1|
+-----------+--------------+
only showing top 5 rows